<div class="panel panel-default">
  <div class="panel-heading">Notes & Comments</div>
  <ul class="list-group">
    <%# @comments.each do |comment| %>
      <li class="list-group-item">
        <%#= simple_format comment.content %>
        <%= render @comments %>
      </li>
    <%# end %>
    <li class="list-group-item">
      <%= render 'comments/form' %>
    </li>
  </ul>
</div>