<%= simple_form_for [@commentable, @comment], remote: true do |f| %>
  <%= f.error_notification %>

<%= f.input :content, 
    label: false,
    placeholder: 'Type a new comment here and press enter to save',
    onkeyup: "alert('poop')" %>
  
  <div class="form-actions">
    <%#= f.button :submit %>
  </div>
<% end %>