body {
  padding:60px 20px 20px 240px;
}

h1, h2, h3, h4 {
  margin-top:0;
}

.page-tools {
  float:right;
  margin-top:8px;
}

.two-part-number {
  color:#555;
  & .part1 {

  }

  & .part2 {
    font-weight:bold;  
  }
}