.sidenavbar {
  .container {
    position:fixed;
    top:70px; 
    bottom:0;
    left:0;
    width:220px;
    & .list-group {
      & span {
        float:right;
        padding:5px 7px;
      }
    }
  }
}